

/*-------------------------------------Base-----------------------------------------------*/

* 		{ padding:$zero; margin:$zero; outline:none !important;   box-sizing: border-box;}
a		{ text-decoration:none !important; padding:$zero; margin:$zero; outline:none;}/*Links*/
a:hover { text-decoration:none;}/*Links*/
ul,li   { padding:$zero; margin:$zero; list-style:none; text-decoration:none;}/*Lists*/
img 	{ padding:$zero; margin:$zero; border:none; float:$float-left;}/*Images*/
p,strong,span,div,label,input,select,textarea   { padding:$zero; margin:$zero; font-weight:normal;}/*Author*/
h1,h2,h3,h4,h5,h6   { padding:$zero; margin:$zero; font-weight:normal;} /*Headings*/

html { font-family: 'Poppins', sans-serif !important; padding:$zero; margin:$zero; height:$v-full;}
body { font-family: 'Poppins', sans-serif !important; font-size:14px; width:$full; height: $v-full; color:$color-base; padding:$zero; margin:$zero;}

/*-------------------------------------Base-----------------------------------------------*/


.head 		{
	background: $color-app !important;
	h1 {
		color: $color-white;
	}
}


#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
	background:none;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
	color: $color-white;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 34px;
	line-height: 34px;
	display: block;
	font-size: 18px;
	color: #333;
	background: $app-font-color;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	z-index: 9;
	margin: 0 auto 5px auto;
	position:relative;
	color:$color-white;
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	left: -50%;
	top: 16px;
	z-index: 0;
	background: $app-font-color;

}
#progressbar li:first-child:after {
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: url(../images/bg_active_step.png) no-repeat left top $color-app;
	background-size:100% 100%;
	color: white;
}