
/*-------------Font-Family--------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


/*-------------Font-Family--------------*/


#loader { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background:#fff; z-index: 999; display: block;}
#loader img 	{ width: 80px; height: 80px; position: relative; top: 50%; left: 50%; margin: -40px 0 0 -40px; }

/*#main {
	height: $v-full;
}*/

#logo 	{
	width: 100%;
	float: left;
	text-align: center;
	a  {
		width: 50.93%;
		float: none;
		display: inline-block;
		img {
			width: 100%;
		}
	}
	&.forgot {
		a{
			width: 30.93%;
		}
	}
}

#welcome 	{ 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding:100px 0 0 0;
	background: url(../images/screen/main_bg.png) no-repeat left top; background-size: 100% 100%;
	background-attachment: fixed;
	.welcome_button 	{
		width: 100%;
		padding: 0px;
		margin: 0px;
		position:absolute;
		bottom: 0;
		left: 0;
		ul {
			width: 100%;
			float: left;
			padding:0;
			margin: 0;
			li  {
				width: 50%;
				float: left;
				padding:0;
				margin: 0;
				text-align: center;
				text-transform: uppercase;
				background:$color-app;
				a {
					display: block;
					color: $color-white;
					line-height: 48px;
				}
			}
		}
	}
}

#signin  {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding:60px 0 0 0;
	background: url(../images/screen/main_bg.png) no-repeat left top; background-size: 100% 100%;
	background-attachment: fixed;	
	.signin_form {
		width: 100%;
		float:left;
		padding:80px 15px 0 15px;
		input {
			color: $color-white;
		}
		.forgot_password 	{
			width: 100%;
			padding:15px 0 0 0;
			text-align: center;
			color: $color-white;
			font-size: 14px;
			a {
				color: $color-white;
			}
		}

		.new_member 	{
			width: 100%;
			text-align: center;
			padding:15px 0;
			color: $color-white;
			font-size: 14px;
			a {
				margin-left: 10px;
			}
		}
	}
	&.forgot_password 	{
		padding-top:100px;
	}
	.forgot_content 	{
		width: 100%;
		float:left;
		text-align: center;
		padding:15px;
		margin:0;
		h2 {
			color: $color-white;
			font-size: 26px;
		}
		p {
			font-size: 14px;
			color: $color-white;
			margin-top: 15px;
			line-height: 22px;
		}
	}
}

.bottomsheet 	{
	position:fixed;
	bottom:0;
	left: 0;
	width: 100%;
	background:$color-white;
	box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.39);
	z-index: 999;
	ul {
		width: 100%;
		float: left;
		padding:0px;
		li {
			width: 20%;
			float: left;
			padding:0px;
			a {
				width: 100%;
				float: left;
				text-align: center;
				padding:8px 0;
				i {
					width: 32px;
					height: 32px;
					float: none;
					display: inline-block;
					padding: 0px;
					margin: 0px;
					background:url(../images/icn_home.png) no-repeat left top; background-size: 100% 100%;
					&.icn_search_dash 	{
						background:url(../images/icn_search.png) no-repeat left top; background-size: 100% 100%;
					}
					&.icn_upload_dash 	{
						background:url(../images/icn_upload.png) no-repeat left top; background-size: 100% 100%;
					}
					&.icn_noti_dash 	{
						background:url(../images/icn_notification.png) no-repeat left top; background-size: 100% 100%;
					}
					&.icn_setting_dash 	{
						background:url(../images/icn_setting.png) no-repeat left top; background-size: 100% 100%;
					}
				}
				span {
					width: 100%;
					font-size: 11px;
					line-height: 5px;
					color:$app-font-color;
					float: left;
					padding:0;
					margin: 0;
					text-align: center;
				}
			}
			&.upload 	{
				
			}
		}
	}
}


#upload_form 	{
	width: 100%;
	float: left;
	padding:0px;
	margin: 0px;
	.upload_step  	{
		width: 100%;
		float: left;
		padding:0px;
		margin: 0px;
	}
	.upload_content {
		width: 100%;
		float: left;
		padding:0px;
		margin: 0px;
		h3 	{
			width: 100%;
			float: left;
			padding:0px;
			margin: 0px;
			font-size: 20px;
			color: $color-app;
			text-align: center;
		}
		.upload_form 	{
			width: 100%;
			float: left;
			padding:0px;
			margin: 0px;
			.upload_row  {
				width: 100%;
				float: left;
				padding:0px;
				margin: 0px;
				.file_input {
					background:url('../images/bg_upload.png')no-repeat left top;
					background-size:100% 100%;
					width: 100%;
					min-height: 216px;
					position:relative;
					input[type="file"] {
						width: 100%;
						position:absolute;
						top: 0px;
						height: 100%;
						left: 0;
						opacity: 0;
					}
					.ui-input-text 	{
						border:none !important;
						box-shadow:none !important;
						&:after {
							border:none !important;
							box-shadow:none !important;
							background:none;
						}
					}
				}
			}		
		}
	}
}

