
/*-------------Base-Variable--------------*/

$zero:0px;
$uppercase:uppercase;
$align-center:center;

/*-------------Base-Variable--------------*/


/*-------------Width-Variable--------------*/

$full:100%;
$v-full:100vh;
$width-90:90%;
$width-80:80%;
$width-70:70%;
$width-60:60%;
$width-50:50%;
$width-40:40%;
$width-30:30%;
$width-20:20%;
$width-10:10%;
$width-5:5%;

/*-------------Width-Variable--------------*/


/*-------------Float-Variable--------------*/

$float-left:left;
$float-right:right;
$float-none:none;
$clear:both;

/*-------------Float-Variable--------------*/


/*-------------Color-Variable--------------*/

$color-base:#6b7c96; /*light blue*/
$color-app:#61a3f5; /*theme color*/
$app-font-color:#6b7c96; /*theme color*/

$color-transparent:none !important; /*theme color*/



$color-white:#fff; /*theme color*/


/*-------------Color-Variable--------------*/

/*-------------Font-Size-Variable--------------*/

$f-size-12:12px;
$f-size-14:14px;
$f-size-16:16px;
$f-size-18:18px;
$f-size-20:20px;
$f-size-22:22px;
$f-size-24:24px;
$f-size-26:26px;
$f-size-28:28px;
$f-size-30:30px;
$f-size-32:32px;
$f-size-34:34px;
$f-size-36:36px;
$f-size-38:38px;
$f-size-40:40px;
$f-size-50:50px;
$f-size-60:60px;
$f-size-70:70px;
$f-size-80:80px;

/*-------------Font-Size-Variable--------------*/
